.comments__content-title{
    margin: auto;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 78px;
    width: 68%;
}

@media (max-width: 1280px) {
    .comments__content-title {
        width: 69%;
        margin-bottom: 43px;
    }
}

@media (max-width: 1024px) {
    .comments__content-title {
        width: 82%;
        line-height: 65px;
        margin-bottom: 29px;
    }
}

@media (max-width: 768px) {
    .comments__content-title {
        width: 80%;
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .comments__content-title {
        width: 100%;
        margin-bottom: 22px;
    }
}